<?php
    // connects to your database
    $mysqli = new mysqli("127.0.0.1", "root", "", "retrotube");
    // starts session
	session_start();

	// gets uid from username
    function idFromUser($nameuser){
    	global $mysqli;
    	$uid = 0;
    	$username = $mysqli->escape_string($nameuser);
		$statement = $mysqli->prepare("SELECT `id` FROM `users` WHERE `username` = ?");
		$statement->bind_param("s", $username);
		$statement->execute();
		$result = $statement->get_result();
		while($row = $result->fetch_assoc()){
			$uid = (int)$row["id"];
		}
		$statement->close();
		return $uid;
    }

	// gets profile picture
    function getUserPic($uid){
    	$userpic = (string)$uid;
		if(file_exists("./pfp/".$userpic) !== TRUE){
			$userpic = "default";
		}
		return $userpic;
    }
    // sets logged in variable
    $loggedIn = isset($_SESSION['profileuser3']);

	// sets discord webhook
	$webhook = "";

    // ffmpeg executable location (REQUIRED)
    $ffmpeg = "";
	
   // get subs
   function getSubscribers($id, $mysqli) {
	$stmt = $mysqli->prepare("SELECT * FROM subscribers WHERE receiver = ?");
	$stmt->bind_param("s", $id);
	$stmt->execute();
	$result = $stmt->get_result();
	$rows = mysqli_num_rows($result); 
	$stmt->close();

	return $rows;
}
//idk
function ifSubscribed($user, $reciever, $mysqli) {
    $stmt = $mysqli->prepare("SELECT * FROM subscribers WHERE sender = ? AND receiver = ?");
    $stmt->bind_param("ss", $user, $reciever);
    $stmt->execute();
$result = $stmt->get_result();
$user = $result->fetch_assoc();
if($result->num_rows === 1) { return true; } else { return false; }
$stmt->close();

return $user;
}
?>